
.vs/ProjectEvaluation/hailstorm.projects.v7.bin
.vs/Hailstorm/v17/.suo
.vs/ProjectEvaluation/hailstorm.metadata.v7.bin
.vs/Hailstorm/v17/.futdcache.v2
.vs/Hailstorm/FileContentIndex/8299d352-87f6-4c95-91c7-7e5fa1fddaa9.vsidx
.vs/Hailstorm/FileContentIndex/4e1fd12e-8074-43b9-92e8-22320ca5cb55.vsidx
.vs/Hailstorm/FileContentIndex/212c5566-51bb-4321-9102-4f5922979390.vsidx
.vs/Hailstorm/FileContentIndex/178bf2ca-67cf-463d-8766-f7a1ac18bb7b.vsidx
.vs/Hailstorm/FileContentIndex/0b506d02-1fb7-407b-9e9c-b36125ed8541.vsidx
.vs/Hailstorm/DesignTimeBuild/.dtbcache.v2
src/bin/Debug/net48/Hailstorm.dll
src/bin/Debug/net48/Hailstorm.pdb
src/GlobalSuppressions.cs
src/obj/Debug/net48/Hailstorm.AssemblyInfo.cs
